<body>
<div>
  <div class="product_list">
    <div class="product_list_name">
      购物清单
    </div>
    <div id="show_time"></div>
    <table id="add_table" style=" border:thin black solid">
      <tr>
        <td id="h1">分类</td>
        <td id="h2">名称</td>
        <td id="h3">单价(元)</td>
        <td id="h4">单位</td>
        <td id="h5">数量</td>
        <td id="h6">小计</td>
        <% @showPayShopList.each do |item| %>
            <% if item.freeCount < 0 %>
              <tr>
                <th><%= item.classfy %></th>
                <th><%= item.name %></th>
                <th><%= item.price %></th>
                <th><%= item.unit %></th>
                <th><%= item.count %></th>
                <th><%= item.count*item.price %></th>
              </tr>
          <% else %>
              <tr>
                <th><%= item.classfy %></th>
                <th><%= item.name %></th>
                <th><%= item.price %></th>
                <th><%= item.unit %></th>
                <th><%= item.count %></button></th>
                <th><%= ((item.count-(item.count/3).to_i)*item.price).to_s+'元(原价：'+(item.count*item.price).to_s+'元)' %></th>
              </tr>
          <% end %>
      <% end %>
    </table>
    <div class="free_product_list_title">赠送商品</div>
    <table class="free_product_list">
      <tr>
        <td id="h11">分类</td>
        <td id="h22">名称</td>
        <td id="h55">数量</td>
        <% @freeList.each do |fL| %>
          <tr>
            <td><%= fL.classfy %></td>
            <td><%= fL.name %></td>
            <td><%= fL.freeCount %></td>
          </tr>
      <% end %>
    </table>
    <div class="all_sum">总计：<%= @all_sum %>元</div>
    <div class="save_sum">节省：<%= @free_sum %>元</div>
    <!--<button style="   margin-left: 80%;margin-top: 30px;border-radius: 10px;">-->
      <%= link_to '确认','/home/truePayBtn?id='+'trPayBtn' ,:class=>'fin_pay',:style=>"margin-left: 80%;margin-top: 30px;border-radius: 10px;" %>
    <!--</button>-->

  </div>
</div>
</body>
</html>
<script>
    $(document).ready(function(){
        print_time();
    })
</script>