
<body>
<div class="container">
  <ul class="navigation_back_ground">
    <li><%= link_to "Let's Go","/home/index" %></li>
    <li><%= link_to "主页","/home/index" %></li>
    <li><%= link_to "商品列表","/home/product_list" %></li>
    <li><a href="/home/shopping_cart.html">
      <%= image_tag("shopping71.png") %><span id="shoppingCartNumShow"><span>购物车(</span><span class="shopping_test_name"><%= @num_sum %></span>)</span>
    </a></li>
  </ul>
</div>
<div class="product_list">
    <div class="product_list_name">
        商品列表
    </div>
    <table id="add_table">
      <tr class="list_header">
        <th id="h1">分类</th>
        <th id="h2">名称</th>
        <th id="h3">单价(元)</th>
        <th id="h4">单位</th>
        <th id="h5"></th>
        <% @list.each  do |product| %>
          <tr>
            <th><%= product.classfy %></th>
            <th><%= product.name %></th>
            <th><%= product.price %></th>
            <th><%= product.unit %></th>
            <th><button id = "<%= product.id %>" onclick = "loadShoppingCart(this.id)" style="color:white;background:rgb(88, 135, 207);font-size:20px;border-radius: 10px;">加入购物车</button></th>
          </tr>
      <% end %>
    </table>
</div>
</body>
