<body>
<div class="product_list">
    <div class="product_list_name">
        购物清单
    </div>
    <table id="add_table">
      <tr>
        <td id="h1">分类</td>
        <td id="h2">名称</td>
        <td id="h3">单价(元)</td>
        <td id="h4">单位</td>
        <td id="h5">数量</td>
        <td id="h6">小计</td>
        <% @showShopList.each do |item| %>
            <% if item.freeCount < 0 %>
              <tr id = "<%= item.id %>tr_id" class="bbb">
                <th><%= item.classfy %></th>
                <th><%= item.name %></th>
                <th><%= item.price %></th>
                <th><%= item.unit %></th>
                <th><button id = "<%= item.id %>" onclick = "reduce_goods(this.id)">-</button><input readonly="readonly" style="text-align: center" id = "<%= item.id %>count_id" value = <%= item.count.to_i %>><button id = "<%= item.id %>" onclick = "add_goods(this.id)">+</button></th>
                <th id = "<%= item.id %>totle_id"><%= (item.count*item.price).to_s %></th>
              </tr>
          <% else %>
              <tr id = "<%= item.id %>tr_id" class="bbb">
                <th><%= item.classfy %></th>
                <th><%= item.name %></th>
                <th><%= item.price %></th>
                <th><%= item.unit %></th>
                <th><button id = "<%= item.id %>" onclick="reduce_goods(this.id)">-</button><input readonly="readonly" style="text-align: center" id = "<%= item.id %>count_id" value = <%= item.count.to_i %>><button id = "<%= item.id %>" onclick = "add_goods(this.id)">+</button></th>
                <th id = "<%= item.id %>pro_totle_id"><%= ((item.count-(item.count/3).to_i)*item.price).to_s+'元(原价：'+(item.count*item.price).to_s+'元)' %></th>
              </tr>
          <% end %>
      <% end %>
    </table>
    <div class="sum" id="shop_list_sum">总计：<%= @data[1] %>元</div>
  <button id="payBtn"  onclick="window.location.href='/home/pay_list'">付款</button>
</div>
</body>